@import url("href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
}